<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert Html_Into_Pdf</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
</head>
<body class="bg-primary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Html_Into_Pdf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    <div class="container">
        <div class="card border-success mb-3  mx-auto" style="width:fit-content;height:fit-content; margin-top: 20px;">
            <div class="card-header">Fill Some Data For PDF</div>
            <div class="card-body">
                <form action="/" method="POST">
                    <textarea name="article" id="article" cols="100" rows="15" style="word-wrap:break-word;"></textarea>
                    <br><br>
                    <center><button type="submit" class="btn btn-primary">Generate PDF</button></center>
                  </form>
            </div>
          </div>
    </div>
</body>
</html>
